opencv-python==4.13.0.92
mediapipe==0.10.35
customtkinter==5.2.2
Pillow==12.2.0
cryptography==48.0.0
pywin32==312
matplotlib==3.11.0
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Security.Credentials.UI==3.2.1
